<%= simple_form_for(@autor, :remote => true) do |f| %>
	<label for="nome_autor" class="lbl_form">Nome do autor</label>
	<%= f.input :nome, :required => true, :label => false, :input_html => {:size=>"30", :id=>"txt_titulo", :maxlength=>"50"}%>

	<div id="div_btn_send"><%= f.button :submit, :value => "enviar" %></div>

<% end %>

<div id="dialog" title="Inserção de conhecimento" style="display:none">
	<p><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 20px 0;"></span>Inserção feita com sucesso</p>
</div>

<div id="dialog_error" title="Inserção de conhecimento" style="display:none">
	<p><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 20px 0;"></span>Problemas ao inserir conhecimento</p>
</div>
