<div id="conteudo" class="ui-widget-content ui-corner-bottom">
<h4><span class="ui-icon ui-icon-play"></span>autores cadastrados</h4>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @autors.each do |autor| %>
  <tr>
    <td><%= link_to autor.nome, autor %></td>
    <td><%= link_to 'Editar', edit_autor_path(autor) %></td>
    <td><%= link_to 'Apagar', autor, :method => :delete, :remote => true, :id => "link_excluir_#{autor.id}", :class => "link_excluir" %></td>
  </tr>
<% end %>
</table>
</div>
