<div id="conteudo" class="ui-widget-content titulo_detalhes ui-corner-bottom">
<h4><span class="ui-icon ui-icon-play"></span>detalhes do autor</h4>

<span class="autor_detalhe_conhecimento"><%=@autor.nome%></span>
<br/>
</div>
