.autor_detalhe_conhecimento,
.titulo_detalhes,
.texto_detalhes {
	color:white;
	padding-left:1px;
	font-size:11pt;
	font-family:arial;
	font-weight:normal;
}

.titulo_detalhes	{
	font-weight:bold;
	padding-bottom:10px;
	float:none;
	padding-left:10px;

}

.texto_detalhes	{
	padding-left:10px;
}

.span_input {
	width:300px;
}

label.lbl_form{
	font-family:arial;
	font-weight:thin;
	font-size:10pt;
}

#btn_send_conhecimento	{
	margin-bottom:10px;
}

#div_btn_send	{
	width:445px;
	text-align:right;
	padding-top:10px;
}

#conteudo form {
	margin-left:10px;
}

#hd_pesquisa {
	margin-left:100px;
	color:white;
	font-size:10pt;
}

#hd_pesquisa input {
	color:white;
	background-color:black;
	border:1px solid #999;
	margin-left:10px;
	padding-left:10px;
}

#hd_pesquisa select {
	color:white;
	background-color:black;
	border:1px solid #999;
	margin-left:10px;
	padding-left:10px;
}

*.btn_pesquisa	{
	border:0px none;
	color:white;
	width:18px;
	height:18px;

}

*.pagination {
	font-family:arial;
	font-size:10pt;
	background-color:black;
	color:black;
	padding-left:10px;
}

