<div id="conteudo" class="ui-widget-content titulo_detalhes ui-corner-bottom">
<h4><span class="ui-icon ui-icon-play"></span>detalhes do conhecimento</h4>
<span class="titulo_detalhes"><%=@conhecimento.titulo%></span>
<span class="autor_detalhe_conhecimento">(<%=@conhecimento.autor.nome%>)</span>
<br/>


<p class="texto_detalhes"><%=@conhecimento.texto%></p>

